<div class="container" id="edit-new">
  <br>
  <br>
  <div class="row">
    <br>
    <div class="col-lg-offset-2 col-lg-8">
      <%= simple_form_for([@cleanup, @cleanup.attendees.new]) do |f| %>
        <%= f.label  :attending, label: "Do you plan on attending this cleanup?" %>
        <%= f.select :attending,[['Yes'],['No']]%>
        <br>
        <%= f.button :submit, "Submit" %>
        <%= link_to "Cancel", :back, {:class=>"btn btn-default"} %>
        <% end %>
    </div><!-- col-lg -->
  </div><!-- row -->
