
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <title>Aqua Zest</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">

    <div id="navbar-main">
      <!-- Fixed navbar -->
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <%= image_tag('logo2.png', height: '34', width: '45') %>
            </button>
            <a class="navbar-brand hidden-xs hidden-sm" href="#home"><%= image_tag('logo2.png', height: '34', width: '45') %></a>
          </div>

          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
              <li>
                <%= link_to "Home", cleanups_path %>
              </li>
              <li>
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
              </li>
              <% else %>
              <li>
                <!-- Button trigger modal -->
              <a type="login" data-toggle="modal" data-target="#myModal">
                  Log In
              </a>

                <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Sign In</h4>
                    </div>
                    <div class="modal-body">
                      <%= image_tag('twitter-icon.png', height: '33', width: '33') %><%= link_to "Sign in with Twitter", omniauth_authorize_path(:user, :twitter) %><br />
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              </li>
              <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

		<!-- ==== HEADERWRAP ==== -->
	  <div id="headerwrap" id="home" name="home">
		  <header class="clearfix">
	  		 <h1><%= image_tag('logo11.png', height: '200', width: '280') %></h1>
	  		 	<p>Think Globally</p>
	  		 	<p>Act Locally</p>
	  	</header>
	  </div><!-- /headerwrap -->


		<!-- ==== ABOUT ==== -->
		<div class="container" id="about" name="about">
			<div class="row white">
			<br>
				<h1 class="centered">The Ocean Needs You!</h1>
				<hr>

				<div class="col-lg-6">
					<%= video_tag("AquaZest.mp4", height: '370', width: '100%', controls:true)%>
				</div><!-- col-lg-6 -->

				<div class="col-lg-6">
					<p>The ocean remains one of the most expansive, mysterious and diverse places on Earth. Unfortunately, it is being threatened by pollution from people on land and from natural causes. Marine life is dying, and as a result the whole oceanic ecosystem is threatened simply by various sources of pollution. If we are to preserve ocean and its natural beauty, drastic measures have to be taken to combat this pollution and keep what we hold most dear.</p>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		</div><!-- container -->

		<!-- ==== SECTION DIVIDER1 -->
		<section class="section-divider textdivider divider1">
			<div class="container">
				<div id="text-overlay">
          <h1 class="shadow">“Small acts, when multiplied by millions of people, can transform the world.”</h1>
				  <hr>
				  <p>Howard Zinn</p>
        </div><!--layover -->
			</div><!-- container -->
		</section><!-- section -->

    <div id="greywrap">
      <div class="row">
        <div class="col-lg-4 callout">
          <h2>Stay Informed</h2>
          <%= image_tag('turtle2.jpg', height: '236', width: '355') %>
          <p>Aqua Zest's blog delivers current information on a variety of ways you can help the ocean and the animals living in it </p>
        </div><!-- col-lg-4 -->

        <div class="col-lg-4 callout">
          <h2>Get Involved</h2>
          <%= image_tag('teach.jpg', height: '236', width: '355') %>
          <p>Discover ways to become involved in Ocean Conservation through our blogs and the cleanup application offered by Aqua Zest.  </p>
        </div><!-- col-lg-4 -->

        <div class="col-lg-4 callout">
          <h2>Take Action</h2>
          <%= image_tag('clean.jpg', height: '236', width: '355') %>
          <p>Sign up for a beach cleanup today! There are a variety of locations to choose from. </p>
        </div><!-- col-lg-4 -->
      </div><!-- row -->
    </div><!-- greywrap -->

		<div class="container" id="blog" >
			<br>
			<br>
			<div class="row">
				<h2 class="centered">Contact Us</h2>
				<hr>
				<br>
        <h2 class="centered">Phone Number : (727) 279-0602</h2>
        <h2 class="centered">Email Address: aquazest4change@gmail.com</h2>
			</div>
		</div>



    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
      </div>


    </nav>

  </body>
</html>
