<!DOCTYPE html>
<html id="homepage">

  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <title>Aqua Zest</title>
  </head>
  <body>
    <nav class="navbar navbar-default-pages">
      <div class="container-fluid">
        <div class="navbar-header">
          <class="navbar-brand-pages">
            <%= image_tag('aqualogo.png', height: '70', width: '130') %>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li>
              <%= link_to "Home", cleanups_path %>
            </li>
            <% else %>
            <li>
              <%= link_to "Log In", new_user_session_path %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <header class="pages-header-background">
      <div class="pages-header-title">
        Stay Informed, Get Involved, Take Action
      </div>
    </header>
    <section class='container first'>
			<div class="row">
	      <div class="col-md-offset-1 col-md-5 col-centered text-center">
	        <%= video_tag("turtle.mp4", height: '310', width: '390', controls:true)%>
	      </div>
	      <div class="col-md-5 col-centered about-paragraph">
	        <h4>The Ocean Needs Your Help!
	        </h4>
	        <p>
	          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae urna semper, lacinia urna eu, lobortis magna. Nam ut lacus vel lacus condimentum blandit et nec turpis. Sed iaculis ipsum a diam mollis, vitae ullamcorper nulla laoreet. Proin lectus
	          enim, rutrum sit amet feugiat eget, vehicula vitae nibh. Donec vehicula tortor ac nulla gravida consectetur. Nulla interdum tellus quis turpis porta, eu tincidunt tellus dictum. Ut feugiat efficitur ultricies. Donec sit amet scelerisque turpis.
	        </p>
	      </div>
				</div>
    </section>
    <section class='container-fluid second'>
			<div class='row'>
				<div class="col-sm-4">
	        <%= image_tag('turtle2.jpg', :class => "style_image img-responsive") %>
	        <h4>Stay Informed</h4>
	        <p>
	          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	        </p>
	      </div>
	      <div class="col-sm-4">
	        <%= image_tag('teach.jpg', :class => "style_image img-responsive") %>
	        <h4>Get Involved</h4>
	        <p>
	          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	        </p>
	      </div>
	      <div class="col-sm-4">
	        <%= image_tag('clean.jpg', :class => "style_image img-responsive") %>
	        <h4>Take Action</h4>
	        <p>
	          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	        </p>
	      </div>
			</div>
    </section>
  </body>
</html>
