

<div class="container" id="edit-new">
  <br>
  <br>
  <div class="row">
    <br>
    <div class="col-lg-offset-2 col-lg-8">
      <%= simple_form_for @cleanup do |f| %>
      <%= f.label            :beach_image, label: 'Add picture of location'%>
      <%= f.attachment_field :beach_image, direct: true %>
      <br>
      <%= f.hidden_field     :latitude %>
      <%= f.hidden_field     :longitude %>
      <%= f.input            :name, label: "Name of beach and or location", :input_html => {:maxlength => 40 }%>
      <%= f.input            :when, label: "Date and time" %>
      <%= f.input            :location %>
      <%= f.input            :description, label: "Please describe what needs to be done" %>
      <%= f.input            :supplies, label: "Please select the following supplies needed for this cleanup" %>
      <%= f.input            :additionalinfo, label: "Please provide any additional information needed to complete this specific cleanup (i.e. Hazardous waste was discovered on-site. Special gloves will be needed for this.)" %>
      <%= f.button           :submit, "Take Action" %>
      <% end %>
    </div><!-- col-lg -->
  </div><!-- row -->

<script type="text/javascript">
$(function()
{
  $("#new_cleanup").on("upload:success", function(event) {
    var hidden_upload_field = $("input[name='cleanup[beach_image]']");
    var raw_json_data = hidden_upload_field.val();
    var parsed_json_data = JSON.parse(raw_json_data);
    var cache_id = parsed_json_data.id;

    $.ajax('/cleanups/gpsify',
        {
          data: { cache_id: cache_id }
        });
  });
});
</script>
