<!DOCTYPE html>
<html>
<head>
  <title>Aqua Zest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div id="navbar-main">
    <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <%= image_tag('logo2.png', height: '34', width: '45') %>
        </button>
        <a class="navbar-brand hidden-xs hidden-sm" href="#home"><%= image_tag('logo2.png', height: '34', width: '45') %></a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

          <% if user_signed_in? %>
          <li>
            <%= link_to "Home", cleanups_path %>
          </li>
          <li>
            <%= link_to "Blog", blogs_path %>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li>
            <%= link_to "Log In", new_user_session_path %>
          </li>
          <% end %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  </div>


<%= yield %>


<div id="footerwrap">
	<div class="container">
		<h4>Aqua Zest</h4>
	</div>
</div>

</body>
</html>
